include README 
include MANIFEST
include MANIFEST.in
include README.rst
include setup.py
recursive-include tradevantage/test *
recursive-include tradevantage/schema *
include tradevantage/test/test.sh
include tradevantage/schema/schema.sql
include tradevantage/*.py
include tradevantage/schema/*.sql
include tradevantage/test/*.sh
include tradevantage/cron/*.txt
include tradevantage/conf/*.json

global-exclude *.pyc
