<!DOCTYPE html>
<html >
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<div ng-app="myApp1">
<div ng-controller="customersCtrl1">
<table border="1" cellpadding="1" cellspacing="1" width="70%" align="center" style="border-collapse: collapse;">' 
<tr bgcolor="#00FFFF"><th colspan=12>Analyst Coverage</th></tr>
<tr bgcolor="#00FFFF"><td>Brokerage Name</td><td>Date</td><td>Action</td><td>Rating From</td><td>Rating To</td><td>Price From</td><td>Price To</td></tr>
  <tr ng-repeat="x in names">
    <td>{{ x.brokeragename }}</td>
    <td>{{ x.ratingdate }}</td>
    <td>{{ x.updown }}</td>
    <td>{{ x.ratingfrom }}</td>
    <td>{{ x.ratingto }}</td>
    <td>{{ x.pricefrom }}</td>
    <td>{{ x.priceto }}</td>
  </tr>
</table>
 
</div>
</div> 
<script>
var app1 = angular.module('myApp1', []);
app1.controller('customersCtrl1', function($scope, $http) {
   $http.get("http://www.tickerlick.com/angular/rating.php?q=9")
   .then(function (response) {$scope.names = response.data.records;});
});
</script>
 
<div id="myApp2">
<div ng-controller="customersCtrl2">
<table border="1" cellpadding="1" cellspacing="1" width="70%" align="center" style="border-collapse: collapse;"> 
<tr bgcolor="#00FFFF"><th colspan=12>Signal Report</th></tr>
<tr bgcolor="#00FFFF"><td>ticker</td><td>Name</td><td>sector</td><td>industry</td></tr>
  <tr ng-repeat="x in names">
    <td>{{ x.ticker }}</td>
    <td>{{ x.compname }}</td>
    <td>{{ x.sector }}</td>
    <td>{{ x.industry }}</td>
  </tr>
</table>
</div>
</div> 
<script>
var query =  "SELECT a.ticker,a.comp_name,sector,industry FROM tickermaster a, report b where b.report_flag = 'SS' and b.ticker_id = a.ticker_id order by sector desc";
var app2 = angular.module('myApp2', []);
app2.controller('customersCtrl2', function($scope, $http) {
   $http.get("http://www.tickerlick.com/angular/signalgen.php?r="+query)
   .then(function (response) {$scope.names = response.data.records;});
});
angular.bootstrap(app2, [ 'myApp2' ]);
</script>
 
</body>
</html>

