	body {font-family: arial, helvetica, sans-serif; font-size: 10pt; background-color: #FFFFFF; margin-left:0; margin-top:0; margin-right:0}
	table, td {font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000}
	.coloredheader {font-family: arial, helvetica, sans-serif; font-size: 13pt; color: #000000; font-weight: bold}
	.header {font-family: arial, helvetica, sans-serif; font-size: 13pt; color: #000000; font-weight: bold}
	.subhead {font-family: arial, helvetica, sans-serif; font-size: 11pt; color: #000000}
	.bodytext {font-family: arial, helvetica, sans-serif; font-size: 10pt;}
	.small {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}
	.small_colored {font-size: 9pt; color: #990000; font-family: arial, helvetica, sans-serif}
	.smaller {font-family: arial, helvetica, sans-serif; font-size: 11px; color: #000000}
	.lightsmaller {font-family: arial, helvetica, sans-serif; font-size: 11px; color: #666666}
	.formtext {font-family: courier, monospace}
	.greybold {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: 333333; font-weight: bold}
	.greysmaller {font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333; font-weight: bold}
	.checkbox {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #0000FF}
	p, div {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #000000}
	a:link {color: #113456}
	a:visited {color: #477AB8}
	a:active {color: #C00}
        a.whitelink:link {color: #000}
        a.whitelink:visited {color: #000}
        a.whitelink:active {color: #000}
        a.smallerwhitelink:link {color: #FFF; font-size: 11px}
        a.smallerwhitelink:visited {color: #FFF; font-size: 11px}
        a.smallerwhitelink:active {color: #FFF; font-size: 11px}
        a.gray:link {color: #666; font-size: 11px}
        a.gray:visited {color: #666; font-size: 11px}
        a.gray:active {color: #666; font-size: 11px}
/* other font types */
	.titletext {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #FF6600}
	.companytext {font-family: arial, helvetica, sans-serif; font-size: 15pt;}
	.companytextsmallbold{font-family: arial, helvetica, sans-serif; font-size: 12pt; font-weight: bold}
	.bluetext {font-family: arial, helvetica, sans-serif; font-size: 11pt; color: #3366CC }
        .bluetextheader {font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #3366CC }
	.desctext {font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000 }
	.desctextred {font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #990000}
	.desctextredsmall {font-family: arial, helvetica, sans-serif; font-size: 8pt; color: #990000}
	.bluetextbold {font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #3366CC; font-weight: bold}
	.bluetextsmallbold {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #3366CC; font-weight: bold}
    .bluetextsmall {font-family: arial, helvetica, sans-serif; font-size: 11px; color: #3366CC}
	.linktext {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}
	.blueheader {font-family: arial, helvetica, sans-serif; font-size: 13pt; color: #039; font-weight: bold}
	.lightblueheader {font-family: arial, helvetica, sans-serif; font-size: 14pt; color: B6C6D9;}
	.whiteheader {font-family: arial, helvetica, sans-serif; font-size: 13pt; color: #FFFFFF; font-weight: bold}
	.bwheader {font-family: arial, helvetica, sans-serif; font-size: 13pt; color: T_COLOR_FONT; font-weight: bold}
	.whitetext {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #FFFFFF}
	.bwtext {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: T_COLOR_FONT}
	.whitesmall {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #FFFFFF}
	.bwsmall {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: T_COLOR_FONT}
	.whitesmaller {font-family: arial, helvetica, sans-serif; font-size: 11px; color: #FFFFFF}
	.bwsmaller {font-family: arial, helvetica, sans-serif; font-size: 11px; color: T_COLOR_FONT}
	.linktextsize{width:34em}
    .bluekeytext {font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #0000cc }
    .bluekeytextbold {font-family: arial, helvetica, sans-serif; font-size: 14pt; color: #0000cc; font-weight: bold}
    .bluekeytextsmallbold {font-family: arial, helvetica, sans-serif; font-size: 11pt; color: #0000cc; font-weight: bold}
    .bluekeytextsmall {font-family: arial, helvetica, sans-serif; font-size: 11pt; color: #0000cc}
    	.highlight {background: #6D8CB3; color: #FFFFFF;}
    	.errortext {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #FF0000; font-weight: bold; text-align: center}
        .categorymain {font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #0000FF; font-weight: bold}
	    .categorysub {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #0000FF}
		.categorysubbold {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #0000FF; font-weight: bold}
/* other td types */
	.black {background-color: #000000}
	.darker {background-color: #6D8CB3}
	.dark {background-color: #6D8CB3}
	.medium {background-color: #CCCCCC}
	.lightmedium {background-color: #DDDDDD}
	.light {background-color: #EEEEEE}
	.yellow {background-color: #FCD970}
	.lightyellow {background-color: #FDF8D4} /* old FFF6C0 */
	.lighteryellow {background-color: #FDF8D4}
	.blue {background-color: #8CA6F7}
	.lightblue {background-color: #99B7DD}
	.lighterblue {background-color: #EEEEEE}
	.white {background-color: #FFFFFF}
    	.corpblue {background-color: #6D8CB3}
    	.corplightblue {background-color: #99B7DD}
	.h1 { font-family: verdana,arial,helvetica,sans-serif; color: #CC6600; font-size: small; }

/* left menu navigation links*/
	a.selectedMenuItem:active{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #3366CC; text-decoration:none; font-weight : bold;}
	a.selectedMenuItem:link{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #3366CC; text-decoration:none; font-weight : bold;}
	a.selectedMenuItem:visited{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #3366CC; text-decoration:none; font-weight : bold;}
	a.selectedMenuItem:hover{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #3366CC; text-decoration : underline; font-weight : bold;}
	a.MenuItem:active{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333; text-decoration:none; font-weight : bold; }
	a.MenuItem:link{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333; text-decoration:none; font-weight : bold;}
	a.MenuItem:visited{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333; text-decoration:none; font-weight : bold;}
	a.MenuItem:hover{font-family: arial, helvetica, sans-serif; font-size: 11px; color: #333333; text-decoration : underline; font-weight : bold;}
/* corp website links*/
    .news {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #333333;}
.newstext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; font-style: italic; color: #000000;}
a.newstext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; font-style: italic; color: #000000;}
a:visited.newstext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal; font-style: italic; color:
#000000;}
.pageheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16pt; font-weight: bolder; color: #003366;}
.subheader {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bolder; color: #232F44;}
.subsubheaderCopy {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #232F44; font-style: normal; text-decoration: none}
.bodyboldital {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; font-style: italic;}
.bodycopy {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #000000; font-style: normal;}
.bodyboldCopy {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #003366; font-style: normal; text-decoration: none;}
.bodyboldCopy:hover {font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 8pt;	font-weight: bold;	color: #FF0000;	font-style: normal;	text-decoration: none;}
.bodyCopy:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FF0000; font-style: normal; text-decoration: none;}
.fineprint:hover {font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 8pt;	font-weight: bold;	color: #FF0000;	font-style: normal;	text-decoration: none;}
.newstext:hover {font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 8pt;	font-weight: bold; color: #FF0000;	font-style: normal;	text-decoration: none;}
.bodyboldital:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #FF0000; font-style: normal; text-decoration: none;}
.fineprint {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #829AC0; text-decoration: none;}
.vblue {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #5C6697; font-weight: bold}
.vbluesm {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #5C6697; font-weight: norma; text-decoration: none}
.tablenav1 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #344465; background-color: #BCC7DD; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: bold; line-height: 21px; text-decoration: none;}
a.tablenav1 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #344465; background-color: #BCC7DD; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: bold; line-height: 21px; text-decoration: none;}
a:hover.tablenav1 {text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color:#EBEEF5; font-weight: bold; background:#344465; width:175; padding:0}}
.tablenav2 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #973534; background-color: #FFFFFF; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: bold; line-height: 21px; text-decoration: none;}
.subheader2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bolder; color: #000000; }
.tablenav3 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; background-color: #324565; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: bold; line-height: 21px; text-decoration: none;}
a.tablenav3 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; background-color: #324565; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: bold; line-height: 21px; text-decoration: none;}
a:visited.tablenav3 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; background-color: #324565; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: bold; line-height: 21px; text-decoration: none;}
a:hover.tablenav3 { font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #973534; background-color: #FFFFFF; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; font-weight: normal; line-height: 21px; width:155; text-decoration: none; }
.attn { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; font-variant: small-caps; color: #CCFF00; background-color: #990000}
.up1 { top: -17px; clip:  rect(   )}
.bodyboldCopysmlink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #003366; font-style: normal; text-decoration: none; }
a.bodyboldCopysmlink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #003366; font-style: normal; text-decoration: none; }
A:hover.bodyboldCopysmlink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #FF0000; font-style: normal; text-decoration: none; }
.bodycopybold { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000; font-style: normal; }
.bodyboldCopysmlinkHot { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #990000; font-style: normal; text-decoration: none; }
